{
    "plugins": [
        [
            "module-resolver",
            {
                "root": ["./"],
                "alias": {
                    "@pages": "./resources/js/components/pages/",
                    "@common": "./resources/js/components/common/",
                    "@ducks": "./resources/js/store/ducks/",
                    "@routes": "./resources/js/routes/",
                    "@styles": "./resources/js/components/common/styles"
                }
            }
        ]
    ]
}
