{
    "plugins": [
        [
            "module-resolver",
            {
                "root": ["./"],
                "alias": {
                    "@pages": "./resources/js/pages/",
                    "@components": "./resources/js/components/",
                    "@ducks": "./resources/js/store/ducks/",
                    "@routes": "./resources/js/routes/",
                    "@styles": "./resources/js/components/styles"
                }
            }
        ]
    ]
}
